	body{
        font-family: Helvetica;
        font-size: 11px;
    }
    
    #container{
        margin-left: 50px;
    }
    
    #slider_label{
        display: inline-block; 
        width: 240px; 
        text-align: right;
    }
    
    h1{
        font-size: 25px;
        margin-left: 110px
    }

    input[type="range"] {
        position:absolute;
        top: 545px;
        left: 850px;
        width: 125px; 
        cursor: pointer;
        -webkit-appearance: none;
        -moz-apperance: none;
        border-radius: 6px;
        height: 6px;
        background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0.15, #C5C5C5),
            color-stop(0.15, #C5C5C5)
        );
    }
    

    .slider {
        -webkit-appearance: none;
        width: 100%;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }

    .slider:hover {
        opacity: 1;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 18px;
        height: 18px;
        border-radius: 25px;
        background: #FFFFFF;
        cursor: pointer;
        
    }

    .slider::-moz-range-thumb {
        width: 18px;
        height: 18px;
        border-radius: 25px;
        background: #FFFFFF;
        cursor: pointer;
    }
 
    .state{
		fill: none;
		stroke: #a9a9a9;
		stroke-width: 1;
        pointer-events:all;
	}
    
	.state:hover{
		fill-opacity: 0;
	}

    .year.label {
      font-size: 58px;
      fill: #DDD;
    }
    
	#tooltip {   
		position: absolute;           
		padding: 20px;             
		margin: 10px;        
		border: 1px;      
		border-radius: 2px;  
		background: rgba(0,0,0,0.9);
		border-radius: 6px;
		font-size: 11px;
		width: auto;
		padding: 5px;
		color: white;
		opacity: 0;        
		pointer-events: none;         
	}
    
	#tooltip h4{
		margin:0;
		font-size: 13px;
        text-align: center;
        line-height: 2;
	}
    
    #tooltip span{
        float: right;
        padding-left: 10px;
	}
    
	#tooltip table{
		table-layout: fixed;
	}
        
    a:visited {
        color: black;
    }